name: CI
on:
  push:
    branches: [ master ]
    tags:
      - /^v\d+\.\d+\.(x|\d+)$/
  pull_request:
    branches: [ master ]

jobs:
  build_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build docker run image
        run: ./run-tests --build-image
  test_ale:
    needs: build_image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        vim-version:
          - '--vim-80-only'
          - '--vim-81-only'
          - '--vim-82-only'
          - '--neovim-02-only'
          - '--neovim-03-only'
          - '--neovim-04-only'
          - '--linters-only'
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: ./run-tests -v ${{ matrix.vim-version }}
